#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: auto;
}

#cabecera{
    height: 15%;
    background-color: rgb(230,200,149);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 12px;
}

#barraDeNavegacion{
    height: 5%;
    background-color:  rgb(171,161,134);
    border: 2px solid white;
    border-radius: 25em;
}

#seccion{
    height: 55%;
    background-color: rgb(151,158,54);
    margin:.5em;
    width: 55%;
    float: left;

}
#pieDePagina{
    height: 10%;
    background-color: rgb(230,200,149);
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: auto;
    border-radius: 1em;
}
#Fueraseccion{
    height: 34%;
background-color:  rgb(190,193,79);
margin:auto;
float: right;
width: 30%;

}

ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}
img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}